{% extends 'gallery/base.html' %}

{% load static %}

{% block content %}
    <div class="pagina-inicial">
        {% include 'gallery/partials/_header.html' %}
        <main class="principal">
            {% include 'gallery/partials/_navbar.html' %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo">The most complete space photos gallery!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Search for tags:</p>
                    <ul class="tags__lista">
                        <li class="tags__tag">Nebula</li>
                        <li class="tags__tag">Star</li>
                        <li class="tags__tag">Galaxy</li>
                        <li class="tags__tag">Planet</li>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Search through the gallery</h2>
                        <ul class="cards__lista">
                            {% for photo_id, info in cards.items %}
                            <li class="card">
                                <a href="{% url 'imagem' %}">
                                    <img class="card__imagem" src="{% static '/assets/imagens/galeria/carina-nebula.png' %}" alt="foto">
                                </a>
                                <span class="card__tag">Stars</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ info.name }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ info.caption }}</p>
                                        <span>
                                            <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}